.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set the background color */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
  cursor: pointer;
}

.prev {
  left: -20px; /* Adjust the left positioning */
}

.next {
  right: -40px; /* Adjust the right positioning */
}

.prev i,
.next i {
  font-weight: bold;
}

.prev:hover,
.next:hover {
  background-color: gray;
}

.Toastify__toast--error .Toastify__toast-body:before {
  font-size: 16px;
}

.toast-message{
  font-size: small;
}

.avatar-circle {
  display: inline-flex;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  width: 35px;
  height: 35px;
}

.avatar-initials {
  text-transform: uppercase;
}

.card:hover{
    
  background-color: #E8F0FE;
  
}


.author:hover{
  background-color: beige;
}

.collection-input:focus{
  outline: 2px;
  border: 1px solid gray;
  background-color: whitesmoke;
}

.card-img-top{
  width: 100%;
  object-fit: cover;
  height: 225px;
}




